nav {
    padding: 20px 78px;
    height: 84px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0;
    color: #636060;
}
.selected {
    margin-right: auto;
}
body {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.greece {
    position: relative;
    width: 100%;
    height: 606px;    
    overflow: hidden;
    margin-bottom: 84px;
}
.greece img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.texts {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.p1 {
    color: white;
    font-size: 79px;
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
}
.p2 {
    color: white;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
}
.image-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 33px;
}
.box {
    height: 315px;
    width: 286px;
}
.box img {
    margin-bottom: 23px;
}
.selected2 {
    height: 315px;
    width: 235px;
}
.box h1 {
    margin-bottom: 10px;
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
    color: #636060;
}
.box p {
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
    color: #636060;
}
.selected2 p {
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    color: #636060;
}
.selected2 h1 {
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 28px;
    font-size: 28px;
    color: #000000;
}